.venv/
.tmp/
__pycache__/
.pytest_cache/
startup.stdout.log
startup.stderr.log

data/uploads/*
!data/uploads/.gitkeep

data/datasets/*
!data/datasets/.gitkeep

data/voices/*
!data/voices/.gitkeep

data/outputs/*
!data/outputs/.gitkeep

assets/authorized_presets/*
!assets/authorized_presets/.gitkeep

.idea/
